@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import 'tailwindcss';

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter';
    font-weight: 700;
}

* {
    font-family: 'Inter';
    font-weight: 400;
}

html {
    font-size: 100%;
}

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Text colors */
    --color-text-50: #130707;
    --color-text-100: #250e0e;
    --color-text-200: #4b1b1b;
    --color-text-300: #702929;
    --color-text-400: #963636;
    --color-text-500: #bb4444;
    --color-text-600: #c96969;
    --color-text-700: #d68f8f;
    --color-text-800: #e4b4b4;
    --color-text-900: #f1dada;
    --color-text-950: #f8ecec;

    /* Background colors */
    --color-background-50: #140805;
    --color-background-100: #290f0a;
    --color-background-200: #521f14;
    --color-background-300: #7a2e1f;
    --color-background-400: #a33d29;
    --color-background-500: #cc4c33;
    --color-background-600: #d6705c;
    --color-background-700: #e09485;
    --color-background-800: #ebb8ad;
    --color-background-900: #f5dbd6;
    --color-background-950: #faedeb;

    /* Primary colors */
    --color-primary-50: #0d0d0d;
    --color-primary-100: #1a1a1a;
    --color-primary-200: #333333;
    --color-primary-300: #4d4d4d;
    --color-primary-400: #666666;
    --color-primary-500: #808080;
    --color-primary-600: #999999;
    --color-primary-700: #b3b3b3;
    --color-primary-800: #cccccc;
    --color-primary-900: #e6e6e6;
    --color-primary-950: #f2f2f2;

    /* Secondary colors */
    --color-secondary-50: #0f1406;
    --color-secondary-100: #1e280b;
    --color-secondary-200: #3c5016;
    --color-secondary-300: #597722;
    --color-secondary-400: #779f2d;
    --color-secondary-500: #95c738;
    --color-secondary-600: #aad260;
    --color-secondary-700: #bfdd88;
    --color-secondary-800: #d5e9af;
    --color-secondary-900: #eaf4d7;
    --color-secondary-950: #f4f9eb;

    /* Accent colors */
    --color-accent-50: #061504;
    --color-accent-100: #0d2b08;
    --color-accent-200: #1a5610;
    --color-accent-300: #268118;
    --color-accent-400: #33ab21;
    --color-accent-500: #40d629;
    --color-accent-600: #66de54;
    --color-accent-700: #8ce77e;
    --color-accent-800: #b3efa9;
    --color-accent-900: #d9f7d4;
    --color-accent-950: #ecfbea;
}

@source "../node_modules/flowbite-svelte/dist";